ptb-diagnostic-ecg-database-1.0.0/
draft/data/
draft/dataset/
draft/nsrdb-rr/
draft/generators/
draft/ecgs_labels.npy
draft/hrv_data.npy
ptb-xl-a-large-publicly-available-electrocardiography-dataset-1.0.3/
ptb-xl-data.npy
ssl/
!/*.npy